<form name="form" role="form" ng-submit="EditGroup()" novalidate>
	<div class="form-group">
		<div>
			<label for="appName">Select your Application</label>	
		</div>
		<select id="appName"
				class="form-control"
				ng-model="selectedApp" 
				ng-options="c.name for c in applicationList"
				focus-on-load>
			
		</select>
	</div>	
	<div class="form-group">
		<label for="editgroupName">Change your Group name</label>
		<input id="editgroupName" class="form-control" type="text" ng-model="editapp.name" name="editgroupName" placeholder="Group Name" focus-on-load />
	</div>
	<div class="form-button">
		<input type="submit" value="Save" class="btn btn-primary" />
		<a href="#/groups" class="btn btn-danger">Cancel</a>
	</div>
</form>
