<form name="form" role="form" ng-submit="EditUser()" novalidate>	
	<div class="form-group">
		<label for="roleName">Set your new Name</label>
		<input id="name" class="form-control" type="text" ng-model="editapp.name" name="name" placeholder="Set your new Name"  focus-on-load/>
	</div>
	<div class="form-group">
		<label for="roleName">Set your new Ext Code (Login)</label>
		<input id="ext_code" class="form-control" type="text" ng-model="editapp.ext_code" name="ext_code" placeholder="Set your new Ext Code (Login)"/>
	</div>
	<div class="form-group">
		<label for="enabled">Enabled</label>
		<input id="enabled" type="checkbox" ng-model="editapp.enabled" name="enabledRole" />
	</div>
	<div class="form-button">
		<input type="submit" value="Save" class="btn btn-primary" />
		<a href="#/users" class="btn btn-danger">Cancel</a>
	</div>
</form>
