<form name="form" role="form" ng-submit="EditGroup()" novalidate>
	<div class="form-group">
		<div>
			<label for="appName">Select your Application</label>	
		</div>
		<div class="form-group">
			<select id="appName"
					class="form-control"
					ng-model="selectedApp" 
					ng-options="c.name for c in applicationList"
					focus-on-load>
				
			</select>
		</div>
	</div>	
	<div class="form-group">
		<label for="editOperationName">Change your Operation name</label>
		<input id="editOperationName" class="form-control" type="text" ng-model="editapp.name" name="editOperationName" placeholder="Operation Name" focus-on-load />
	   <div ng-show="form.editOperationName.$dirty && form.editOperationName.$invalid">Invalid:
	      <span ng-show="form.editOperationName.$error.required">Please provide a group name.</span>
	    </div>
	</div>
	<div class="form-button">
		<input type="submit" value="Save" class="btn btn-primary" />
		<a href="#/groups" class="btn btn-danger">Cancel</a>
	</div>
</form>
