<form name="form" role="form" ng-submit="EditOperation()" novalidate>
	<div class="form-group">
		<div>
			<label for="appName">Select your Application</label>	
		</div>
		<div class="form-group">
			<select id="appName"
					class="form-control"
					ng-model="selectedApp" 
					ng-options="c.name for c in applicationList"
					focus-on-load>
				
			</select>
		</div>
	</div>	
	<div class="form-group">
		<label for="editOperationCode">Change your Operation Code</label>
		<input id="editOperationCode" class="form-control" type="text" ng-model="editapp.code" name="editOperationCode" placeholder="Operation Code" focus-on-load />
	</div>
	<div class="form-group">
		<label for="editOperationDescription">Change your Operation Description</label>
		<input id="editOperationDescription" class="form-control" type="text" ng-model="editapp.description" name="editOperationDescription" placeholder="Operation Name" />
	</div>
	<div class="form-button">
		<input type="submit" value="Save" class="btn btn-primary" />
		<a href="#/operations" class="btn btn-danger">Cancel</a>
	</div>
</form>
