<div style="float:left; width:65%">
	<h2>Welcome To WASAB!</h2>
	<p>Please find here all related information about registered applications, roles, users and their current permissions.</p>
	<p> Please navigate using the top menu from above.</p>
</div>
<div id="subcontent" style="float:right;width:30%">
	<h2>Tools</h2>
	<ul class="menublock">
		<li><a href="#/permissions">Assign Permissions</a></li>
		<li><a href="#/imports">Bulk (CSV) Imports</a></li>
		<li><a href="#/imports">Azman XML Imports</a></li>
	</ul>
</div>

