<div style="float:left; width:65%">
	<h2>Welcome To WASAB!</h2>
	<p>Please find here all related information about registered applications, roles, users and their current permissions.</p>
	<p> Please navigate using the top menu from above.</p>
</div>
<div id="subcontent" style="float:right;width:30%">
	<h2>Tools</h2>
	<ul class="menublock">
		<li><a href="#/map/groups"><img src="../assets/images/package.png" /> Map Groups to Role</a></li>
		<li><a href="#/map/operations"><img src="../assets/images/cog.png" /> Map Operations to Role</a></li>
		<li><a href="#/map/users"><img src="../assets/images/group.png" /> Assign User to Role</a></li>
		<li><a href="#/import/csv"><img src="../assets/images/table.png" /> Bulk (CSV) Imports</a></li>
		<li><a href="#/import/azman"><img src="../assets/images/page_excel.png" /> Azman XML Imports</a></li>
	</ul>
</div>

